@import "../template/settings";
@import "../template/theme.scss";

/*********************************************
 * GLOBAL STYLES
 *********************************************/
body {
  background: #e9f1da;
  background: -moz-radial-gradient(center, circle cover, #f7fbfc 0%, #e9f1da 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #f7fbfc), color-stop(100%, #e9f1da));
  background: -webkit-radial-gradient(center, circle cover, #f7fbfc 0%, #e9f1da 100%);
  background: -o-radial-gradient(center, circle cover, #f7fbfc 0%, #e9f1da 100%);
  background: -ms-radial-gradient(center, circle cover, #f7fbfc 0%, #e9f1da 100%);
  background: radial-gradient(center, circle cover, #f7fbfc 0%, #e9f1da 100%);
  background-color: #92bb44; }

.reveal {
  color: #333333;
}

::selection {
  color: white;
  background: #134674;
  text-shadow: none; }

div.halfblock{
  float: left;
  width: 45%;
  text-align: left;
  margin-right: 5%;}

div.left-align{
  text-align: left;}

.clear{
  clear: both;}

/*********************************************
 * HEADERS
 *********************************************/
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  margin: 0 0 20px 0;
  color: #8b0036;
  line-height: 0.9em;
  letter-spacing: 0.02em;
  text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2); }

.reveal h1 {
  text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2); }

.reveal h1 {font-size: 2.5em;}

.reveal h2 {font-size: 1.8em;}

/*********************************************
 * LINKS
 *********************************************/
.reveal a:not(.image) {
  color: #01a9b4;
  text-decoration: none;
  -webkit-transition: color .15s ease;
  -moz-transition: color .15s ease;
  -ms-transition: color .15s ease;
  -o-transition: color .15s ease;
  transition: color .15s ease; }

.reveal a:not(.image):hover {
  color: #f9b8bb;
  text-shadow: none;
  border: none; }

.reveal .roll span:after {
  color: #fff;
  background: #01a9b4; }

/*********************************************
 * IMAGES
 *********************************************/
.reveal section img {
  margin: 15px;
  background: rgba(255, 255, 255, 0.12);
  border: 4px solid #333333;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -ms-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
  max-height: 500px;
  max-width: 80%;}

.reveal a:hover img {
  background: rgba(255, 255, 255, 0.2);
  border-color: #01a9b4;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.55); }

.reveal section img.noborder{
  border-width: 0;
  box-shadow: none;}

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.reveal .controls div.left,
.reveal .controls div.left.enabled {
  border-right-color: #01a9b4; }

.reveal .controls div.right,
.reveal .controls div.right.enabled {
  border-left-color: #01a9b4; }

.reveal .controls div.up,
.reveal .controls div.up.enabled {
  border-bottom-color: #01a9b4; }

.reveal .controls div.down,
.reveal .controls div.down.enabled {
  border-top-color: #01a9b4; }

.reveal .controls div.left.enabled:hover {
  border-right-color: #f9b8bb; }

.reveal .controls div.right.enabled:hover {
  border-left-color: #f9b8bb; }

.reveal .controls div.up.enabled:hover {
  border-bottom-color: #f9b8bb; }

.reveal .controls div.down.enabled:hover {
  border-top-color: #f9b8bb; }

/*********************************************
 * PROGRESS BAR
 *********************************************/
.reveal .progress {
  background: rgba(0, 0, 0, 0.2); }

.reveal .progress span {
  background: #01a9b4;
  -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -ms-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -o-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985); }